.vscode
config/__pycache__
file_handling/__pycache__
image_processing/__pycache__
score_calculation/__pycache__
text_processing/__pycache__
ui/controllers/__pycache__
ui/views/__pycache__
process_handler/__pycache__
ui/designs/
data/
test_data/
output/